    <tr>
      <td><%= contact.name %></td>
      <td><%= contact.email %></td>
      <!--td>
        <%= distance_of_time_in_words_to_now(contact.last_email_they_sent_at) unless contact.last_email_they_sent_at.nil? %>
      </td-->
      <td>
        <%= distance_of_time_in_words_to_now(contact.last_email_we_sent_at) unless contact.last_email_we_sent_at.nil? %>
      </td>
      <td>
        <%= form_for contact, :remote => true do |f| %>
          <%= f.text_field :days_before_reminder, :class=>"days-before-reminder" %>
        <% end %>
      </td>
    </tr>
